<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="pago.styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Selecciona tu boleto</title>
</head>
<body>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Icono Menú -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cuenta.html">Mi Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cartelera.html">Cartelera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Somos.html">Quienes Somos</a>
                    </li>

                </ul>
            </div>

            <!-- Logo del Cine -->
            <a class="navbar-brand" href="#">
                <img src="../img/logo1.png" alt="Logo del Cine" width="200" height="75">
            </a>

            <a class="btn btn-outline-light" href="combos.html" role="button">
                <i class="fas fa-concierge-bell"></i> Combos
            </a>
        </div>
    </nav>
    <div class="ticket-container d-flex flex-row mb-3">
        <div class="content-image p-5">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/g4meAXLJe32FXkUwvGgTv4EU8ZR.jpg" class="d-block w-75" alt="No hables con extraños">
        </div>
        <div class="content-info">
            <div class="btn-content mt-4 mb-5">
                <a href="index.html"><button 
                        class="btn btn-dark">
                    Volver
                </button></a>
            </div>
            <div class="ticket-info-content">
                <h2 class="mb-4">Titulo pelicula</h2>
                <hr>
                <strong>LUGAR</strong><br>
                <p>descripción lugar</p>
                <p><strong>SELECCIONA EL DÍA Y FECHA</strong></p>
                <div class="date-content row row-cols-3 g-5 mb-4">
                    <div class="dropdown">
                        <button class="btn btn-secondary col p-3 dropdown-toggle text-start"
                            style="width: 300px;" 
                            type="button" id="date-dropdown" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                          Selecciona la fecha
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="date-dropdown">
                          <li><button class="dropdown-item" href="#">mie., 02 de octubre 2024</button></li>
                          <li><button class="dropdown-item" href="#">jue., 03 de octubre 2024</button></li>
                          <li><button class="dropdown-item" href="#">vie., 04 de octubre de 2024</button></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary col p-3 dropdown-toggle text-start"
                            style="width: 200px;" 
                            type="button" id="date-dropdown" 
                            data-bs-toggle="dropdown" aria-expanded="false">
                          Selecciona la hora
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="date-dropdown">
                          <li><button class="dropdown-item" href="#">13:30</button></li>
                          <li><button class="dropdown-item" href="#">15:30</button></li>
                          <li><button class="dropdown-item" href="#">17:30</button></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-dark"
                        id="buy-ticket">
                        Comprar boleto
                    </button>
                </div>
                <h3>productor | pais | año | duracion | clasif | hora</h3>
                <p>sinopsis de pelicula</p>
            </div>
        </div>
    </div>
    <script>
        const btn = document.getElementById('buy-ticket');
        btn.addEventListener('click', function() {
            window.location.href = 'pago.html';
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>