<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartelera</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cuenta.html">Mi Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="cartelera.html">Cartelera</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="Somos.html">Quienes Somos</a>
                </li>
                
            </ul>
        </div>

        <a class="navbar-brand" href="#">
            <img src="../img/logo1.png" alt="Logo del Cine" width="200" height="75">
        </a>
    </div>
    <a class="btn btn-outline-light" href="combos.html" role="button">
        <i class="fas fa-concierge-bell"></i> Combos
    </a> 
</nav>


<div class="container mt-4">
    <h1>Cartelera de Cine</h1>
    <p>Descubre las últimas películas en cartelera y disfruta de una experiencia cinematográfica única.</p>

    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/kenshi_yonezu_2023_tour_fantasy-187028647-mmed.jpg" class="card-img-top" alt="Película 1">
                <div class="card-body">
                    <h5 class="card-title">Kenshi Yonezu 2023 Tour Fantasy</h5>
                    <p class="card-text">Grabado durante el último concierto de Yonezu en Yokohama (Japón), en el Yokohama Arena, el 2 de julio de 2023.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/the_wild_robot-598191664-mmed.jpg" class="card-img-top" alt="Película 2">
                <div class="card-body">
                    <h5 class="card-title">Robot salvaje</h5>
                    <p class="card-text">El épico viaje de un robot -la unidad 7134 de Roz,'Roz' 
                        para abreviar- que naufraga en una isla deshabitada y debe aprender a 
                        adaptarse al duro entorno, entablando gradualmente relaciones con los
                        animales de la isla y convirtiéndose en padre adoptivo de un gosling 
                        huérfano.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/never_let_go-688115076-mmed.jpg" class="card-img-top" alt="Película 3">
                <div class="card-body">
                    <h5 class="card-title">No te sueltes</h5>
                    <p class="card-text">Una angustiada madre (Halle Berry) y sus dos hijos gemelos viven en una cabaña en el bosque bajo el influjo de un espíritu maligno. Necesitan estar conectados en todo momento, aferrándose los unos a los otros, llegando incluso a atarse con cuerdas. Pero, cuando uno de los niños se pregunta si el mal es real, los lazos que los unen se rompen, desencadenando una aterradora lucha por la supervivencia.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/sympathy_for_the_devil-569882598-mmed.jpg" class="card-img-top" alt="Película 4">
                <div class="card-body">
                    <h5 class="card-title">Compasión por el diablo</h5>
                    <p class="card-text">Después de verse obligado a conducir a un misterioso pasajero a punta de pistola, un hombre se ve envuelto en un juego de alto riesgo del gato y el ratón en el que queda claro que no todo es lo que parece.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/fast_charlie-293977372-mmed.jpg" class="card-img-top" alt="Película 5">
                <div class="card-body">
                    <h5 class="card-title">Contrato para matar</h5>
                    <p class="card-text">Charlie Swift es un eficiente y discreto sicario que lleva 20 años trabajando a las órdenes de Stan, jefe de la mafia de Orlando. Después de tanto tiempo, son como padre e hijo. Todo va bien hasta que Charlie descubre que uno de sus socios ha traicionado a Stan antes de cambiar de organización criminal. Eso hará que Charlie se vea implicado en una guerra de venganza y asesinatos en la que Marcie, la ex esposa de su última víctima, es la única persona en la que puede confiar.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/unsung_hero-918758351-mmed.jpg" class="card-img-top" alt="Película 6">
                <div class="card-body">
                    <h5 class="card-title">Notas de esperanza</h5>
                    <p class="card-text">La familia de David Smallbone se traslada de Australia a Estados Unidos en busca de un futuro mejor tras la quiebra de su exitosa compañía musical. Con nada más que sus siete hijos, maletas y su amor por la música, David y su esposa Helen, embarazada, se disponen a reconstruir sus vidas. La fe de Helen resiste contra viento y marea e inspira a su marido e hijos a aferrarse a la suya. Con sus propios sueños en suspenso, David y Helen empiezan a darse cuenta de la destreza musical de sus hijos, que llegarán a convertirse en dos de los artistas de más éxito en la historia de la música inspiradora: los artistas de KING + COUNTRY y Rebecca St. James, ganadores de cinco premios GRAMMY®. (FILMAFFINITY)</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/divorce_club-854217622-mmed.jpg" class="card-img-top" alt="Película 7">
                <div class="card-body">
                    <h5 class="card-title">El club de los divorciados</h5>
                    <p class="card-text">Después de cinco años de matrimonio, Ben todavía está locamente enamorado, hasta el día en que descubre que su esposa le está engañando. Humillado, Ben lucha para seguir adelante, hasta que se cruza con Patrick, un ex amigo también divorciado que le ofrece mudarse con él. Patrick, a diferencia de Ben, tiene la intención de aprovechar su celibato recuperado y todos los placeres a los que había renunciado durante su matrimonio. Pronto se unirán al grupo otros divorciados y redactarán las primeras reglas del «Club del Divorcio».</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/frogman-925555242-mmed.jpg" class="card-img-top" alt="Película 8">
                <div class="card-body">
                    <h5 class="card-title">Frogman</h5>
                    <p class="card-text"> Tres amigos en busca del Hombre Rana descubren que es algo más que una leyenda local.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/valentina_o_la_serenidad-355087514-mmed.jpg" class="card-img-top" alt="Película 9">
                <div class="card-body">
                    <h5 class="card-title">Valentina o la serenidad</h5>
                    <p class="card-text">Valentina anda por los nueve años, usa un trapo de la casa como capa y se convierte en una superheroína con poderes sobre el viento, la tierra y los árboles. Pero un suceso inesperado la devasta: su padre fallece en un accidente y debe lidiar con su ausencia: reconocer a la muerte y reaprender la vida que sigue, a pesar de aquella.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/la_piel_pulpo-704138851-mmed.jpg" class="card-img-top" alt="Película 10">
                <div class="card-body">
                    <h5 class="card-title">La piel pulpo</h5>
                    <p class="card-text">Iris y Ariel tienen 17 años, son hermanos mellizos que viven junto a su madre y su hermana mayor Lía en una isla rocosa repleta de moluscos y reptiles. Los adolescentes han crecido aislados del continente, en una relación fraternal que supera los límites de la intimidad común y su relación con la naturaleza es trascendental. (FILMAFFINITY)</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/la_otra_forma-392829512-mmed.jpg" class="card-img-top" alt="Película 11">
                <div class="card-body">
                    <h5 class="card-title">La otra forma</h5>
                    <p class="card-text">Una película que revive los momentos más intensos de la historia.</p>
                    <a href="#" class="btn btn-primary">Comprar Boleto</a>
                </div>
            </div>
        </div>


 <div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/one_hand_clapping-383377063-mmed.jpg" class="card-img-top" alt="Película 9">
        <div class="card-body">
            <h5 class="card-title">Paul McCartney and Wings: One Hand Clapping</h5>
            <p class="card-text">Dirigida por David Litchfield, esta película capturó el momento en que Paul McCartney & Wings habían encontrado y definido su sonido característico. Filmada durante cuatro días en los estudios Abbey Road en agosto de 1974, la película ofrece una visión del funcionamiento interno de la banda mientras trabajan y tocan juntos en el estudio. Incluye interpretaciones de temas de la obra maestra de Wings, Band on the Run (publicada en 1973), imágenes íntimas de la banda mientras pasan el rato en el estudio, combinadas con fragmentos de entrevistas en audio. La película también incluye secuencias completas e inéditas de una actuación acústica de Paul en solitario llamada Sesiones en el patio trasero..</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/the_batman-449856406-mmed.jpg" class="card-img-top" alt="Película 10">
        <div class="card-body">
            <h5 class="card-title">The Batman</h5>
            <p class="card-text">Después de dos años acechando por las calles de la ciudad como Batman (Robert Pattinson), e infundiendo miedo en las mentes perversas de los criminales, Bruce Wayne está sumido en las profundidades de las sombras de Gotham City. Este vigilante solitario cuenta con pocos aliados de confianza y eso le ha llevado a convertirse en la única encarnación de la venganza entre sus conciudadanos. Cuando un asesino apunta a la élite de Gotham con una serie de maquinaciones sádicas, un rastro de pistas crípticas lleva a Batman a realizar una investigación en el inframundo.</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/batman_the_animated_movie_mask_of_the_phantasm-773115038-mmed.jpg" class="card-img-top" alt="Película 11">
        <div class="card-body">
            <h5 class="card-title">Batman: La máscara del fantasma</h5>
            <p class="card-text">Una enigmática figura fantasmal hace su aparición, cumpliendo las ejecuciones de determinadas figuras importantes del hampa. Simultáneamente regresa a Gotham una muchacha con la cual Bruce Wayne mantuvo un idilio; éste rememorará su relación con la chica y, de paso, su propio «nacimiento» como Batman...</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>

 <div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/look_back-760770709-mmed.jpg" class="card-img-top" alt="Película 9">
        <div class="card-body">
            <h5 class="card-title">Look Back: Continúa dibujando</h5>
            <p class="card-text">Fujino, demasiado segura de sí misma, y Kyomoto, encerrada en sí misma, no podrían ser más diferentes, pero la afición a dibujar manga une a estas dos chicas de pueblo. Una historia de madurez y superación del creador de Chainsaw Man.</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/santiago_the_camino_within-723052915-mmed.jpg" class="card-img-top" alt="Película 10">
        <div class="card-body">
            <h5 class="card-title">Santiago: Un camino espiritual</h5>
            <p class="card-text">El Camino de Santiago es una ruta de peregrinación muy transitada que se remonta a la época medieval. La leyenda recuerda que los restos del apóstol cristiano Santiago el Mayor fueron misteriosamente descubiertos en la Catedral de Santiago de Compostela, en España, tras haberse creído perdidos. Durante siglos, los peregrinos han recorrido la ruta por motivos espirituales. Este documental se centra en los peregrinos a lo largo de este camino..</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>

<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/the_substance-153348439-mmed.jpg" class="card-img-top" alt="Película 11">
        <div class="card-body">
            <h5 class="card-title">La sustancia</h5>
            <p class="card-text">'Tú, pero mejor en todos los sentidos'. Esa es la promesa, un producto revolucionario basado en la división celular, que crea un alter ego más joven, más bello, más perfecto.</p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>
<div class="col-md-4 mb-4">
    <div class="card">
        <img src="https://pics.filmaffinity.com/hellboy_the_crooked_man-703712247-mmed.jpg" class="card-img-top" alt="Película 11">
        <div class="card-body">
            <h5 class="card-title">Hellboy: The Crooked Man</h5>
            <p class="card-text">'Hellboy y un agente novato del BPRD se quedan varados en los Apalaches rurales de los años cincuenta. Allí descubren una pequeña comunidad embrujada, liderada por el Hombre Torcido. </p>
            <a href="#" class="btn btn-primary">Comprar Boleto</a>
        </div>
    </div>
</div>


    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.minAquí está el código corregido para alinear las tarjetas de películas correctamente. He removido los duplicados y corregido el cierre de los `div` para evitar problemas en el diseño.

