body {
    background-image: url('../img/micuenta-bg.png');
}

.box-area {
    width: 800px; /* tamaño de ancho*/
}

.right-box {
    padding: 20px 15px 20px 20px; /* espaciado dentro del div*/
}

::placeholder {
    font-size: 16px; /* tamaño de fuente*/
}
.rounded-4 {
    border-radius: 20px; /* radio del borde*/
}
.rounded-5 {
    border-radius: 30px; /* radio del borde*/
}